<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 shadow p-3 mb-5 bg-white rounded">
      <!-- This div is centered and takes 6 columns -->
      <%= simple_form_for(@meeting) do |f| %>
        <%= f.input :date %>
        <%= f.input :comment %>
        <%= f.input :status %>
        <%= f.input :rating %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
