<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.freewebheaders.com/wp-content/gallery/cute-headers/cute-puppies-dogs-header-800x200.jpg);">
  <div class="container">
    <h1>Enjoyed your last adventure ? Book a new one <strong></strong>!</h1>
    <p>Future meetings.</p>
    <%= link_to "New Meeting", dogs_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container card-dog-master shadow-sm p-3 bg-white rounded">
  <div class="row my-3">
    <% @meetings.each do |meeting| %>
      <div class="col-sm-3 py-3">
        <%= link_to meeting_path(meeting) do %>
        <div class="card-dog">
          <% if meeting.dog.photos.attached? %>
          <% meeting.dog.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <% end %>
          <div class="card-dog-infos">
            <div>
              <h2>Your appointment: <%= meeting.date %></h2>
              <p style="font-size: 20px">With <%= meeting.dog.name %> a <%= meeting.dog.breed %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
    <% @other_meetings.each do |meeting| %>
      <div class="col-sm-3 py-3">
        <%= link_to meeting_path(meeting) do %>
        <div class="card-dog">
          <% if meeting.dog.photos.attached? %>
          <% meeting.dog.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <% end %>
          <div class="card-dog-infos">
            <div>
              <h2>Your appointment: <%= meeting.date %></h2>
              <p style="font-size: 20px">With <%= meeting.dog.name %> a <%= meeting.dog.breed %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
    </div>
</div>
