<div class="main-container">
  <div class="meeting-container">
    <% @meetings.each do |meeting| %>
    <div class="meetingcard">
      <div class="row">
      <div class="photos">
      <div class="row">
      <div class="my_photo">
        <% current_user.dogs.each do |dog|%>
          <% dog.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 150, radius: 100, crop: :fill%>
          <% end %>
        <% end %>
      </div>
      <div class="heart">
        <i class="fas fa-heart"></i>
      </div>
      <div class="photo">
        <% if meeting.dog.photos.attached? %>
          <% meeting.dog.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 150, radius: "max", crop: :fill  %>
          <% end %>
        <% end %>
     </div>
     </div>
      </div>
        <div class="dog-infos">
          <h2><%= meeting.dog.name %></h2>
          <ul>
          <li>
            -<strong>Breed</strong>: <%= meeting.dog.breed %>
          </li>
          <li>
            -<strong>Coat</strong>: <%= meeting.dog.coat%>
          </li>
           <li>
            -<strong>Gender</strong>: <%= meeting.dog.gender%>
          </li>
          <li>
            -<strong>Birthday</strong>: <%= meeting.dog.birthday %>
          </li>
          </ul>
        </div>
        <div class="user-infos">
          <h2><%= meeting.dog.user.first_name %></h2>
          <ul>
          <li>
            -<strong>Email:</strong>: <%= meeting.dog.user.email %>
          </li>
          <li>
            -<strong>Status</strong>: <%= meeting.dog.user.status %>
          </li>
          </ul>
        </div>

      </div>
    </div>
<% end %>
  </div>
</div>

</div>





