  <ul>
    <li>date: <%= @meeting.date %></li>
    <li>content: <%= @meeting.comment %></li>
  </ul>
  <% if @meeting.dog.photos.attached? %>
    <% @meeting.dog.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 100, width: 150 %>
    <% end %>
  <% end %>

  <%= link_to "Home Page", dogs_path, class: 'btn btn-primary'  %>
  <%= link_to "All your meetings", meetings_path, class: 'btn btn-primary'  %>
  <% if policy(@meeting).edit? %>
    <%= link_to "Update meeting", edit_meeting_path(@meeting),  class: 'btn btn-primary' %>
  <% end %>
  <% if policy(@meeting).destroy? %>
    <%= link_to "Cancel meeting", @meeting, class: 'btn btn-primary',
        method: :delete,
        data: { confirm: "Are you sure?" }  %>
  <% end %>
