  <ul>
    <li>date: <%= @meeting.date %></li>
    <li>content: <%= @meeting.comment %></li>
    <li>status: <%= @meeting.status %></li>
    <li>rating <%= @meeting.rating %></li>
  </ul>

  <%= link_to "Home Page", dogs_path, class: 'btn btn-primary'  %>
  <%= link_to "All your meetings", meetings_path, class: 'btn btn-primary'  %>

<%# if policy(@meeting).destroy? %>
<%#= link_to "delete", @meeting,
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    <%# end %>

  <%# if policy(@meeting).edit? %>
    <%#= link_to "Update", edit_meeting_path(@meeting) %>
  <%# end %>
