<div class="modal fade" id="editdogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit the profile of my dog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%= simple_form_for(@dog) do |f| %>
        <%= f.input :name %>
        <%= f.input :gender, as: :radio_buttons, :collection => ["Female", "Male"], :checked => ["Female"] %>
        <%= f.input :breed %>
        <%= f.input :coat, collection: ["Short", "Long", "Curly", "Silky", "Rough", "Wire", "Smooth", "Hairless"] %>
        <%= f.input :birthday %>
        <%= f.input :available, as: :radio_buttons, :collection => [ ["Yes", true], ["No", false]], :checked => ["Yes", true] %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>

      </div>
    </div>
  </div>
</div>
