<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1546421845-6471bdcf3edf?ixlib=rb-1.2.1);">
  <div class="content">
  <div class="container">
    <h1>Find them a perfect <strong>match</strong>!</h1>
    <p>Discover the best soulmate for your compagnon.</p>
      <%= simple_form_for :search, url: root_path, method: :get, html: {class: "form-inline"} do |f| %>
        <div class="search-form-control form-group w-50 mr-3">
          <input class="form-control string required" placeholder="Search a breed" type="text" name="breed" id="search_query" value="<%= @breed %>" />
        </div>
        <div class="form-group">
          <%= label_tag :gender, "Male", class:"mr-2 ml-2 text-white" %>
          <%= radio_button_tag :gender, "Male", class:"form-control" %>
          <%= label_tag :gender, "Female", class:"mr-2 ml-4 text-white" %>
          <%= radio_button_tag :gender, "Female", class:"form-control" %>
          <%= label_tag :gender, "Any gender", class:"mr-2 ml-4 text-white" %>
          <%= radio_button_tag :gender, "Any", class:"form-control" %>
        </div>
          <button name="button" type="submit" class="btn btn-primary ml-3">
          <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %>
  </div>
</div>

<div class="container card-dog-master shadow-sm p-3 bg-white rounded">
  <div class="row my-3">
    <% @dogs.each do |dog| %>
      <div class="col-sm-3 py-3">
      <%= link_to dog_path(dog) do %>
        <div class="card-dog">
          <% if dog.photos.attached? %>
            <% dog.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
          <% else %>
            <img src="https://source.unsplash.com/1600x900/?dog,<%= dog.breed %>,breed,cute" class= "img-fluid"/>
          <% end %>
          <!-- <img src="https://source.unsplash.com/1600x900/?dog,<%= dog.breed %>,breed,cute" class= "img-fluid"/> -->
          <div class="card-dog-infos">
            <div>
              <h2><%= dog.name %></h2>
              <p><%= dog.breed %></p>
            </div>
            <!-- <h2 class="card-dog-gender">Female</h2> -->
            <% if dog.gender == "Female" %>
              <h2 class= "card-dog-gender fas fa-venus"></h2>
            <% else dog.gender == "Male" %>
              <h2 class= "card-dog-gender fas fa-mars"></h2>
              <% end %>
            <!-- <p class= "fas fa-paw"></p> -->
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<!-- https://images.unsplash.com/photo-1517423440428-a5a00ad493e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1587&q=80 -->


