<h1><%= You chose @dog.name %></h1>
  <ul>
    <li>name <%= @dog.name %></li>
    <li>race <%= @dog.race %></li>
    <li>age <%= @dog.age %></li>
    <li>coat <%= @dog.coat %></li>
  </ul>


<%= link_to "go back to homepage", dogs_path %>


