<div class="container vh-100">

<h1>You chose <%= @dog.name %></h1>
  <ul>
    <li>Name: <%= @dog.name %></li>
    <li>Birthday: <%= @dog.birthday %></li>
    <li>Gender: <%= @dog.gender %></li>
    <li>Breed <%= @dog.breed %></li>
    <li>Coat <%= @dog.coat %></li>
  </ul>

  <%# @meetings.each do |meeting| %>
    <%#= meeting.date %>
    <%#= meeting.comment %>
    <%#= meeting.status %>
    <%#= meeting.rating %>
    <%#= meeting.user.last_name %>
  <%# end %>

<% if policy(@dog).destroy? %>
<%= link_to "delete", @dog,
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    <% end %>
<%= link_to "go back to homepage", dogs_path %>
  <% if policy(@dog).edit? %>
    <%= link_to "Update", edit_dog_path(@dog) %>
  <% end %>

<%= link_to "Rent the Dog", new_dog_meeting_path(@dog)  %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

</div>




